/resources/public/js/compiled/**
figwheel_server.log
pom.xml
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-env
.repl
.nrepl-port
.cljs_*
.rebel_readline_history
logs/
log/
nashorn_code_cache/

package-lock.json
node_modules/
*.db
