/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cljs_*
.lsp/
.rebel_readline_history
logs/
nashorn_code_cache/
.eastwood

log/
.lein-env
package-lock.json
node_modules
node_modules/
*.db
