; {:cues
;  [{:id :1    :color "#57c" :text "Run shite" :position [0 0] :fx "Strobe" :priority 100
;    :variables [{:type :number :name "Level" :min 0 :max 100}
;                {:type :number :name "Lightness" :min 0 :max 100}
;                {:type :color :name "Color" :starting "#bbb"}]}
;   {:id :3    :color "#c54" :text "Extra sparkle" :position [1 0] :fx "Color" :priority 5
;    :variables [{:type :alpha :name "Alpha" :min 0 :max 100}
;                 {:type :color :name "Color" :starting "#000"}
;                #_{:type :number :display [:slider :y] :name "Alpha" :min 0 :max 100}]}
;   {:id :11   :color "#5a6" :text "Moving" :position [2 0] :fx "Pan" :priority 3
;    :variables [{:type :number :name "Fade" :min 0 :max 3000 :starting 200}
;                {:type :knob :name "Chance" :min 0 :max 0.3 :starting 0.001}
;                {:type :xy :name "x y" :min [-1 -1] :max [1 1] :starting [0 0]}
;                {:type :xy :name "pan tilt" :min [-180 -180] :max [180 180] :starting [45 90]}]}
;   {:id :10   :color "#4ba" :text "Moving" :position [3 0] :fx "Aim"
;    :variables [{:type :space :name "x" :min -10 :max 10 :starting 0}
;                {:type :space :name "y" :min -2 :max 4 :starting 0}
;                {:type :space :name "z" :min -2 :max 10 :starting 0}]}
;   {:id :0    :color "#72c" :text "Fog" :position [4 0] :fx "Fsshh!"}
;   {:id :200  :color "#a83" :text "Stripe" :position [0 1] :fx "Tilt"}
;   {:id :19   :color "#222" :text "Wash" :position [1 1] :fx "Shutter"}
;   {:id :100  :color "#c84" :text "Pointy" :position [2 1] :fx "Blame"
;    :variables [{:type :ratio :name "beats" :starting [4 2]}]}
;   {:id :108  :color "#4ab" :text "1st ROW" :position [6 0] :fx "YO"
;    :variables [{:type :xy :name "x y" :min [0 0] :max [10 10] :starting [5 5]}]}
;   {:id :109  :color "#82c" :text "2nd ROW" :position [6 1] :fx "YO"
ne;    :variables [{:type :number :name "Snippet" :starting "(sin now)"}]} ;need some other property for display-as
;   {:id :110  :color "#3ac" :text "Synth" :position [6 2] :fx "ADSR"
;    :variables [{:type :knob :name "Attack"  :min 0 :max 10 :starting 2.5}
;                {:type :knob :name "Decay"   :min 0 :max 10 :starting 5.0}
;                {:type :knob :name "Sustain" :min 0 :max 10 :starting 5.0}
;                {:type :knob :name "Release" :min 0 :max 10 :starting 5.0}]}
;   {:id :111  :color "#55b" :text "4nd ROW" :position [6 3] :fx "YO"}
;   {:id :112  :color "#cba" :text "5nd ROW" :position [6 4] :fx "YO"}
;   {:id :113  :color "#789" :text "6nd ROW" :position [6 5] :fx "YO"} ]
;  :filter {:method "regex"}
;  :view {:page [0 0] :offset [0 0] :size 8}
;  :options {:auto-save-vars true
;            :display {:control {"knob" {:size 100}
;                                "xy" {:size 100}
;                                "boolean" {:size 25}
;                                "Alpha" {:size 25}}} ;presumably a size here would= "dont fill all available" & can fit multiple same line...
;            }
;  :sync {:selected-id nil
;         :sources #_[]
;         [{:id 1 :label "MIDI 1" :type :midi}
;          {:id 2 :label "Beat Link" :type :beat-link}
;          {:id 3 :label "Ableton Link" :type :ableton-link}
;          {:id 4 :label "Audio analysis" :type :audio}]}}
