/*
 *   Tagged generic useful modification classes
 *
 */

/* Wrap text as own column in larger box */
.parent-of-wrapping {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.child-that-wraps {
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 50%;
}

/* Show/hide and slide in from left. */
.slide-in-left-hidden {
    position: relative;
    z-index: 0;
    left: -100%; /* slide out animation */
    transition: 0.3s;
    /* transition: opacity 0.4s; */
    transition-delay: opacity 0.1s;
}
.slide-in-left-visible {
    transition: 0.3s;
    /* transition: opacity 0.4s; */
    transition-delay: opacity 0.1s;
    left: 5px;
}

.hidden {
  visibility: hidden !important;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s ease-in;
}
.visible {
  visibility: visible !important;
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.removed  { display: none; }
.restored { display: inherit; }

.darkened {   filter: brightness(80%); }
.brightened { filter: brightness(120%); }
.left {   text-align: left; }
.right {  text-align: right; }

.flex-center {
    display: flex;
    align-items: center;
}

/* hmm these shouldn't be here... */
.slow-transition-child > div { transition: 0.7s; }
.slow-transition-child > div > div { transition: 0.7s ease-in-out; }

/* .centered-text { */
/*     position: absolute; */
/*     top: 50%; */
/*     left: 50%; */
/*     transform: translate(-50%, -50%); */
/* } */
